body {
  background: black;
}

img{
  width: 100%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.homepage {
  position: absolute;
}
/* labels on homepage */
      .twod {
        position: absolute;
      }
      .threed {
        position: absolute;
      }
      .animation {
        position: absolute;
      }
      .graphicdesign {
        position: absolute;
      }
      .otherwork {
        position: absolute;
      }
      .about {
        position: absolute;
      }

/* labels linking to other pages */

.twodlink{
  position: absolute;
  top: 130px;
  left: 200px;
  height: 60px;
  width: 140px;
}

.threedlink{
  position: absolute;
  top: 230px;
  left: 1170px;
  height: 60px;
  width: 140px;
  z-index: 999
}

.animationlink{
  position: absolute;
  top: 450px;
  left: 90px;
  height: 60px;
  width: 160px;
}

.graphicdesignlink{
  position: absolute;
  top: 470px;
  left: 1160px;
  height: 60px;
  width: 240px;
}

.otherworklink{
  position: absolute;
  top: 680px;
  left: 290px;
  height: 60px;
  width: 190px;
}

.aboutlink{
  position: absolute;
  top: 660px;
  left: 1010px;
  height: 60px;
  width: 140px;
}
